.org-bracket {
  /* font-lock-bracket-face */
}
.org-builtin {
  /* font-lock-builtin-face */
  color: #8408a6;
}
.org-comment {
  /* font-lock-comment-face */
  color: #B0BEC5;
  font-style: italic;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #B0BEC5;
  font-style: italic;
}
.org-constant {
  /* font-lock-constant-face */
  font-weight: bold;
}
.org-delimiter {
  /* font-lock-delimiter-face */
}
.org-doc {
  /* font-lock-doc-face */
  color: #B0BEC5;
}
.org-doc-markup {
  /* font-lock-doc-markup-face */
  font-weight: bold;
}
.org-escape {
  /* font-lock-escape-face */
  font-weight: bold;
}
.org-function-call {
  /* font-lock-function-call-face */
  font-weight: bold;
}
.org-function-name {
  /* font-lock-function-name-face */
  font-weight: bold;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: #8408a6;
}
.org-misc-punctuation {
  /* font-lock-misc-punctuation-face */
}
.org-negation-char {
  /* font-lock-negation-char-face */
}
.org-number {
  /* font-lock-number-face */
}
.org-operator {
  /* font-lock-operator-face */
}
.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #8408a6;
}
.org-property-name {
  /* font-lock-property-name-face */
  color: #37474f;
}
.org-property-use {
  /* font-lock-property-use-face */
  color: #37474f;
}
.org-punctuation {
  /* font-lock-punctuation-face */
}
.org-regexp {
  /* font-lock-regexp-face */
  color: #8a573e;
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  font-weight: bold;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  font-weight: bold;
}
.org-string {
  /* font-lock-string-face */
  color: #8a573e;
}
.org-type {
  /* font-lock-type-face */
  color: #1a6360;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #37474f;
}
.org-variable-use {
  /* font-lock-variable-use-face */
  color: #37474f;
}
.org-warning {
  /* font-lock-warning-face */
  color: #d47500;
}
