@import url("https://gongzhitaao.org/orgcss/org.css");

.org-whitespace-space {
    color: transparent;
    background-color: transparent
}

.org-whitespace-trailing {
    color: transparent;
    background-color: transparent
}

