@import url("https://gongzhitaao.org/orgcss/org.css");

.org-whitespace-space {
  color: transparent;
  background-color: transparent
}

.org-whitespace-trailing {
  color: transparent;
  background-color: transparent
}

.figure p {
  text-align: center;
}

.org-src-container {
  min-height: 25px;
}

.multilang {
  position: relative;
}

.multilang .src-buttons button.code-switcher{
  position: absolute;
  transform: scale(0.8);
  top: 0px;
  right: 240px;
}

.multilang .src-buttons button.copy-code{
  position: absolute;
  transform: scale(0.8);
  top: 0px;
  right: 80px;
}

.multilang .src-buttons button.hide-code{
  position: absolute;
  transform: scale(0.8);
  top: 0px;
  right: 160px;
}

