/* FONT SETTING */
:root {
  font-family: 'LXGW WenKai',Roboto,STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
}

pre, code, kbd {
  font-family: monospace;
}

/* GENERAL SETTING */
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  letter-spacing: 1px;
  line-height: 1.5em;
}

p {
  font-size: 1.25em;
}

.figure p {
  text-align: center;
}

sup {
  font-size: 0.8rem;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 0.0625rem dotted;
}

a:hover {
  background-color: #eceff1;
}

/* TOC */

.toc-marker {
  display: none;
}

@media screen and (min-width: 780px) {
  .toc-marker {
    display: block;
  }
  #table-of-contents {
    position: fixed;
    width: 23vw;
    right: 1em;

    h2 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    #text-table-of-contents ul {
      list-style: none;
    }

    li a {
      display: inline-block;
      color: #aaa;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }

    li.visible > a {
      color: #111;
      transform: translate( 5px );
    }
  }

  .toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  path {
    transition: all 0.3s ease;
  }

}

/* content*/
.content {
  width: 50vw;
  min-height: 84vh;
  margin: 1em auto;
}

@media screen and (max-width: 780px) {
  .content {
    width: 80vw;
  }
}

#postamble .info,
#preamble nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 780px) {
  #postamble .info {
    flex-direction: column;
  }
}

.timestamp {
  color: gray;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

/* FOOTNOTES */
#footnotes {
  display: none;
}

/* SIDENOTES */
.sidenote {
  display: none;
  font-size: 0.8rem;
  margin-top: 1em;
  margin-bottom: 1em;

  p {
    display: inline;
  }
}

#postamble {
  clear: left;
}

sup:hover ~ .sidenote {
  background-color: #eceff1;
}

.footref-toggle {
  display: none;
}

.footref-toggle:checked + .sidenote {
    display: block;
}

label.footref {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0.0625rem dotted;
}

@media (min-width: 780px) {
  .sidenote {
    display: block;
    float: left;
    clear: left;
    margin-left:  -23vw;
    margin-top: 1em;

    width: 18vw;
    text-align: right;
    padding: 1em;
    border-radius: 0.8em;
  }

  label.footref {
    border-bottom: none;
}
}

/* code blocks */
.multilang {
  position: relative;
  margin: 1em;
}

.multilang, .org-src-container {
  min-height: 2em;
}

.multilang {
  pre {
    margin-top: 0;
  }
  .src-expand-section {
    font-family: monospace;
    border: 2px solid lightgray;
    border-radius: 0.8em 0.8em 0 0;
    border-bottom: none;
    background-color: #eceff1;
    padding-left: 0.5em;
    min-height: 3em;
    display:flex;
    align-items:center;

    .selected {
      border: 2px solid gray;
      border-radius: 1em;
    }
    span {
      color: gray;
      cursor: pointer;
      margin-right: 1em;
      padding: 0.2em 0.8em;
    }
  }
}

.org-src-container pre{
  overflow: auto;
  border: 2px solid lightgray;
  border-radius: 0 0 0.8em 0.8em;
  background-color: #eceff1;
}

.org-src-container {
  margin-bottom: 2em;

  .copy-code {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .org-src-name {
    font-size: 0.8rem;
    color: gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: -2em;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.multilang:hover {
  .copy-code {
    display: inline-block;
  }
}
/* .org-src-name { */
/* } */

.src {
  padding: 0.5em;
}

.src-buttons {
  position: absolute;
  right: 0;
  top: 0.5em
}

/* @media screen and (max-width: 425px) { */
/*   .org-src-name { */
/*     padding-bottom: 2.5em; */
/*     padding-top: 0.5em; */
/*   } */

/*   .src-buttons { */
/*     position: absolute; */
/*     left: 0.1em; */
/*     top: 2.5em; */
/* } */
/* } */

.multilang .src-buttons button {
  border: none;
}

.bx {
  font-size:  2em;
  color: gray;
}
